/* para guardar los css de los estudiantes*/

body{
  margin:20px;
}

.navbar-dark {
        border-color:#ffdc34;
      }
  
.myclass{
     margin-top:20px;
     border:10px solid #110133;

    }

.foo{
    background-color:#110133;
    width:100%;
    height:80px;
    text-align:center;
    color:#ffdc34;
    bottom:0px;
    position:fixed;
}
