/* para guardar los css de los estudiantes*/

body{
  margin:20px;
}

#COVID-19{
    width:810px;
    
}
.animals{
width:810px;
/*height:374px;*/
}

 

.animal{
width:810px;
/*height:374px;*/
}

 

#carouselExampleIndicators{
    margin:10px 275px;
    border:10px solid #110133;
    
}
