.COVID-19{
   display:block;
    margin-left:auto;
    margin-right:auto;
    width:1135px; 
}




.animal1{
   display:block;
    margin-left:auto;
    margin-right:auto;
    width:650px;
}
.animal2{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:786px;
}
.animal3{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:787px;
}
.animal4{
     display:block;
    margin-left:auto;
    margin-right:auto;
    width:931px;
}
.animal5{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:932px;
}
.animal6{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:786px;
}




























#carouselExampleCaptions{
    background-color:black;
}