

#yeah {
        
        margin: 20px;
        padding: 15px;
        height: 40px;
        background-color: #110133;
        color: #ffdc34;
        

}

#logo {
    
        font-size: 30px;
        float: left;
        position: relative;
    
}

#nav1 {
    
        float: left;
        position:relative;
        margin: 5px;
        margin-left: 70%;
        
}

#nav2 {
    
        float: left;
        position:relative;
        margin: 5px;

        
}
#nav3 {
    
        float: left;
        position:relative;
        margin: 5px;

        
}